/eclipse/asm
/eclipse/config
/eclipse/crash-reports
/eclipse/logs
/eclipse/mods
/eclipse/resourcepacks
/eclipse/saves
/eclipse/options.txt
/eclipse/usernamecache.json
/bin
/build
/.gradle
/.settings
/gradle
/temp removed
/.classpath
/.project
/build.gradle
/gradlew
/gradlew.bat
/new mochickens stuff