# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
MoChickensCrafting and Misc images
new mochickens stuff
temp removed

# Files from Forge MDK
forge*changelog.txt
